
body{
    background-color: #ebebeb;
}


.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}
.panel-default>.panel-heading {
    background-color: lightgreen !important;
}
/* HEADER */
.navbar-default {
    background-color: lightgreen;
    font-weight: bold;
}
.new-comment{
    padding:16px 0;
    border-top: 1px solid #ccc;
}
.new-comment header{
    margin-bottom:20px;
}
.btn-primary{
    color: black;
    background-color: lightgreen;
    border-color: green;
}
.btn-primary:hover {
    color: #fff;
    background-color: green;
    border-color: darkgreen;
}
.alert{
    text-align:center;
    color:green;
}
.right{
    float:right;
}
.gpuname{
    background-color: lightgreen;
    text-align:center;
    border-radius: 10px 10px 10px 10px;
}
.pleaselogin{
    background-color: tomato;
    text-align: center;
    padding-top:5%;
    padding-bottom:5%;
    border-radius: 10px 10px 10px 10px;
}